body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: center;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    background: #1F2937;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
}

.links{
    display: flex;
    margin: 0;
    gap: 10px;
    font-size: 18px;
    color: #b8babd;
}

.section-one{
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background: #1F2937;
    padding: 64px;
    height: 300px;
    padding-left: 300px;
    padding-right: 300px;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: F9FAF8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.s1-left{
    width: 355px; 
}
.s1-img{
    width: 500px;
    height: 250px;
}
.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    gap: 75px;

    height: 300px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 175px;

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.sec-two-inner{
    display: flex;
    gap: 20px;

    font-size: 18px;
    font-weight: lighter;
    color: #4f5866;
}
.image_combo{
    display: flex;
    flex-direction: row;
}

.s2-imgs{
    width: 200px;
    height: auto;
}
.section-three{
    height: 300px;
    background: #b3b4b6;
}
.section-four{
    height: 300px;
    background: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}